@font-face {
	font-family: Jelly;
	src: url(Jellies.ttf);
}

html,
body,
#main_wrapper {
	width: 100%;
	height: inherit;
	justify-content: center;
	align-items: center;
}

.header {
	border: 0.75em solid #5e5757;
	border-radius: 2em;
	background: #f5f1f1;
	margin: 0 auto;
	margin-top: 3em;
	width: 45%;
	height: max-content;
	display: flex;
	flex-wrap: wrap;
	font-family: Jelly;
	padding: 2em 4em;
	margin-bottom: 2em;
}

.header_span_one {
	margin: 0.2em;
	font-size: 9em;
	width: 100%;
	margin-bottom: 0;
	height: max-content;
}
.header_span_two {
	margin: 0.2em;
	margin-top: 0;
	right: 0;
	font-size: 7em;
	width: 100%;
	text-align: right;
	height: max-content;
}

#menu {
	display: flex;
	flex-flow: column wrap;
}

#menu span {
	margin: 0 auto;
}
#text {
	font-family: Jelly;
	margin-top: 3em;
	font-size: 3em;
}

.buttons {
	display: flex;
	justify-content: space-around;
	margin: 3em 22%;
}
.buttons button {
	font-family: Jelly;

	height: 8em;
	width: 20em;
}
.buttons button span {
	font-size: 2em;
}

.game_area {
	margin: 0 auto;
	/*background-color: bisque;*/
	border: 1px solid black;
	height: 40em;
	width: 40em;
	justify-content: center;
	align-items: center;
	margin-top: 5em;
}

.row {
	width: 100%;
	height: 33%;
	display: flex;
}

.tile {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	padding: 0;
	width: 100%;
	height: 100%;
}

.player1 {
	background-color: chartreuse;
}
.player2 {
	background-color: red;
}
